*{
    margin: 0;
    pading: 0;

}
body{

background-image: url(/Front-End/css/solid-backgrounds-teal-008080-4096x2160-TV4K.png);
}
header{
height: 50px;
border-bottom: 2px solid silver;

}
.SignIn{
width: 200px;
height: 200px;
    border: 2px solid silver;
    margin-top: 5px;
    padding: 2px;
}
.email{
    border: 2px solid black;
    opacity: 0.1;
    
}
footer{
    height: 50px;
    border-top: 2px solid silver;

}