.TextField {
    width: 100%;
}

.formControll {
    display: flex;
    justify-content: center;
}

.SaveAnswer {
    display: flex;
    margin: 7px;
    justify-content: space-between;
    align-items: center;
}

.deleteButton {

}

.text {
    width: 100%;
}

.point {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 5px;
}

.pointsField {
    margin-left: 10px;
}

.answer {
    display: flex;
    width: 100%;
    align-items: center;
}

.checkbox{
    width: 20px;
}