.EditQuestion {
    padding: 10px;
    margin-bottom: 10px;
}

.QuestionInfo {
    display: flex;
}

.QuestionOrder {
    margin-top: 2px;
}

.Question {
    margin-bottom: 10px;
}

.FormControl {
    display: flex;
    justify-content: center;
}

.QuestionField {
    padding: 0;
    margin-left: 5px;
    width: 98%;
}

.AnswerType {

}

.Snackbar {
    width: 450px;
    height: 50px;
    background: #F44336;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}

.Buttons {
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 0px;
}

.AddButton {
}

.SaveButton {
}