
.QuizSettings {
    display: flex;
    padding: 10px 0 10px 0;
    flex-direction: column;
}

.Radio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.AddButton {
    width: 50px;
    margin: 0 auto;
}

.EditQuiz {
    overflow-x: hidden;
}

.ArrowButton {
    position: fixed;
    left: 10px;
}

.display {
    display: none;
}

.BoardRows {
    position: fixed;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.QuizNameDescription {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    overflow: hidden;
}

.QuizInfo {
    padding: 10px;
}

.SwitchLine {
    display: flex;
    align-items: center;
    justify-content: center;
}

.SwitchTextRight {
    text-align: left;
    width: 150px;
}

.SwitchTextLeft {
    width: 150px;
    text-align: right;
}

.Switch {
    margin-left: auto;
    margin-right: auto;
}

.CircularProgress {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

@media (min-width: 601px) and (max-width: 960px) {

}

@media screen and (max-width: 600px) {

    .ArrowButton {
        display: none;
    }

    .BoardRows {
        display: none;
    }
}