.body {
    width: 100%;
    margin: 10px;
    display: inline-flex;
    justify-content: center;
}

.edit {
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.settings {
    width: 100%;
    box-shadow: 5px 5px 10px #333333;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
}

.quizSettings {
}

.quizSettings Button {
    float: right;
    display: none;
}

.board {
    right: 10%;
    box-shadow: 0px 0px 5px #333333;
    position: fixed;
    padding: 5px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boardNone{
  width: 0;
}
.boardRows {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.radio {
    display: flex;
    flex-direction: column;
}

.question {
    width: 100%;
    min-height: 50vh;
}

.addbutton {
    width: 50px;
    height: 50px;
    padding: 0px;
}

.ArrowButton {
    left: 10px;
    position: fixed;
    height: 50px;
    width: 50px;
}

.ArrowBackIosIcon {
    height: 50px;
    width: 50px;
}

.QuizName {
    margin-top: 10px;
    margin-bottom: 15px;
}
.switchLine{
    display: flex;
    align-items: center;
    justify-content: center;
}
.switchTextRight{
    width: 150px;
}
.switchTextLeft{
    width: 150px;
    text-align: right;
}
.switch{
    margin-left: 30px;
    margin-right: 10px;
}