.body {
    width: 100%;
    margin: 10px;
    display: inline-flex;
    justify-content: center;
}

.edit {
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.settings {
    width: 100%;
    box-shadow: 5px 5px 10px #333333;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
}
.quizSettings{
}
.quizSettings Button{
float: right;
    display: none;
}
.board {
    width: 3%;
    position: fixed;
    right: 15%;
    box-shadow: 5px 5px 10px #333333;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boardRows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.radio{
    display: flex;
}
.question {
    width: 100%;
    min-height: 50vh;
}

.addbutton {
    width: 50px;
    height: 50px;
    padding: 0px;
}
 .ArrowButton{
     left: 10px;
     position: fixed;
     height: 50px;
     width: 50px;
 }
.ArrowBackIosIcon {
    height: 50px;
    width: 50px;
}
