.formControll{
    display:flex;
        justify-content: center;
    flex-wrap: wrap;
}
.Answer{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid silver;
    align-items: center;
}

