.Question {
    margin-top: 20px;
    box-shadow: 5px 5px 10px #333333;
    padding: 10px;
    position: relative;
    background: white;
}

.questioninfo {
    display: flex;
}

.questionOrder {
    margin-top: 2px;
}


.questionField {
    padding: 0;
    margin-left: 5px;
}

.answerType {
}

.Button {
    display: flex;
    flex-direction: row-reverse;
}