.QuestionInfo {
    display: flex;
}

.QuestionOrder {
    margin-top: 2px;
}


.QuestionField {
    padding: 0;
    margin-left: 5px;
}

.Button {
    display: flex;
    flex-direction: row-reverse;
}