.EditQuestion {
    padding: 10px;
    margin-bottom: 10px;
}

.QuestionInfo {
    display: flex;
}

.QuestionOrder {
    margin-top: 2px;
}

.Question {
    margin-bottom: 10px;
}

.FormControl {
    display: flex;
    justify-content: center;
}

.QuestionField {
    margin-left: 5px;
    flex-grow: 1;
}





.Buttons {
    display: flex;
    justify-content: space-between;
}

.AddButton {
}

.SaveButton {
}