.root {
    margin-top: 15px;
    box-shadow: 3px 3px 10px #333333 ;
    justify-content: space-between;
    padding: 10px;
}

.CardContent{
    flex: 10;
}

.title{
    fontSize: 14;
}

.Tabs{
    margin-top: 10px;
    box-shadow: 3px 3px 10px #333333 ;
}

.Tab{
    width: 100px;
}

.Container{
    height: 91vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Box{
    display: flex;
    flex-direction: column;
    width: 50%;
}