.CardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ReportCard {
    width: 100%;
}



.version {
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
}

.CardHeaderLeftColumn {
}