.ProfilePaper{
    margin-top: 20px;
    padding: 10px;
}

.FeedbackPaper {
    flex-grow: 1;
    margin-top: 20px;
    padding: 15px;
}

.ProfileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Avatar {
    margin: auto;
    min-width: 120px;
    min-height: 120px;
    }