.Survey {
    padding: 10px;
}

.SurveyInfo {
    display: flex;
}

.SurveyOrder {
    margin-top: 2px;
}

.SurveyField {
    padding: 0;
    margin-left: 5px;
}


.Button {
    display: flex;
    flex-direction: row-reverse;
}