.Root {
    margin: 10px;
    box-shadow: 3px 3px 10px #333333 ;
    display: flex;
    justify-content: space-between;

}

.CardContent{
    flex: 10;
}

.Header{
    display: flex;
}

.headerRightColumn{

}

.headerLeftColumn{
    width: 60%;
}