.root{
    flexGrow: 1,
}

.Container{
    height: 91vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.Box{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}