.Root{
    flex-grow: 1;
    margin-top: 10px;
    margin-right: 3px;
}
.PersonListItem{
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid lightgray;
}
.Email{
    font-size: 14px;
}
.Invited_date{
    font-size: 11px;
}

.GroupListItem{
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid lightgray;
}

.ExpansionPanel{
    width: 90%;
}
