.Root{
    flex-grow: 1;
    margin-top: 10px;
}
.PersonListItem{
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.Email{
    font-size: 14px;
}
.Invited_date{
    font-size: 14px;
}

.GroupListItem{
    margin-bottom: 5px;
    padding: 5px;
}


