.quiz {
    margin-top: 30px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 600px;
}
.quizPage{
display: flex;
}
.questions {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.error {
    width: 100%;
    display: inline-flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    top: 70px;
    position: fixed;
    border: 1px solid rgba(255, 255, 255, 0.67);
    border-radius: 10px;
    background: #3F51B5;
    box-shadow: 3px 3px 10px #333333;
    right: auto;
    left: auto;
}

.question {
    padding: 10px;
    margin-top: 25px;
    border-radius: 4px;
    box-shadow: 5px 5px 10px #333333;
}

.questionInfo {
    display: flex;
    width: 100%;
}

.questionField {
    margin-left: 5px;
}

.answer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    left: -15px;
    height: 35px;
}

.textarea {
    margin-top: 5px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    min-height: 100px;
    border: 1px solid silver;
    resize: none;
}

.info Button {
    color: white;
    cursor: pointer;
    width: 100%;
}

.dialog {
}

.dialogActions {
    height: 50px;
}

.dialogActions Button {
    font-size: 2em;
    float: right;
    bottom: 0;
    height: 60px;
    width: 60px;
    margin-right: 5px;
}

.typography {
    font-size: 3em;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.dialogContent {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.description {

}

.header {
    display: flex;
    justify-content: space-between;
}

.header Button {
    background: #3F51B5;
    color: white;
}

.button {
    float: right;
    bottom: 0;
}

a {
    text-decoration: none;
}