.quiz {
    margin-top: 50px;
}

.QuizPage {
    margin-bottom: 15px;
}

.error {
    width: 100%;
    display: inline-flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.Board {
}

.BoardGrid {
    margin-top: 10px;
}

.info {
    top: 70px;
    position: fixed;
    border: 1px solid rgba(255, 255, 255, 0.67);
    border-radius: 10px;
    background: #3F51B5;
    box-shadow: 3px 3px 10px #333333;
    right: auto;
    left: auto;
}

.Question {
    padding: 10px;
    margin-top: 20px;
    box-shadow: 5px 5px 10px #333333;
}

.QuestionInfo {
    font-size: 16px;
    display: flex;
}

.QuestionField {
    margin-left: 5px;
}

.Answer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.textarea {
    margin-top: 5px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    min-height: 100px;
    border: 1px solid silver;
    resize: none;
}

.info Button {
    color: white;
    cursor: pointer;
    width: 100%;
}

.dialog {
}

.dialogActions {
    height: 50px;
}

.dialogActions Button {
    position: relative;
    font-size: 2em;
    right: 0;
    bottom: 0;
    height: 60px;
    width: 60px;
}

.typography {
    font-size: 3em;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.dialogContent {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.description {

}

.Header {
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-between;
    color: #3F51B5;
    font-size: 20px;
}

.Header button {
    color: #3F51B5;
}

.button {
}

a {
    text-decoration: none;
}

.QuizDescriptionDialog {
    padding: 10px 10px 20px;
}

.Logo {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 120px;
    width: 120px;
}

.Instructions {
    width: 70%;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(66, 121, 255, 0.2);
}

.QuizName {
    text-align: center;
    color: rgb(47, 87, 181);
    margin-bottom: 7px;
    font-size: 50px;
}

.QuestionsCount {
    text-align: center;
    font-size: 20px;
    color: #333333;
    margin-bottom: 7px;
}

.Description {
    margin: 10px;
}


li {
    color: #717274;
}

/*
xs, extra-small: 0px
sm, small: 600px
md, medium: 960px
lg, large: 1280px
xl, extra-large: 1920px
*/

@media (min-width: 601px) and (max-width: 960px) {
    .QuizPage {
        padding: 5px
    }

    .Header {
        font-size: 20px;
    }

    .Board {
        display: none;
    }

    .Instructions {
        width: 85%;
    }

    .QuizName {
        font-size: 40px;
    }

    .Logo {
        height: 110px;
        width: 110px;
    }
}

@media screen and (max-width: 600px) {
    .QuizPage {
        padding: 5px
    }

    .QuizNameHeader {
        width: 400px;
        overflow-x: hidden;
        margin-right: 4px;
        font-size: 15px;
    }


    .Board {
        display: none;
    }


    .Instructions {
        width: 85%;
    }

    .QuizName {
        font-size: 30px;
    }

    .Logo {
        height: 100px;
        width: 100px;
    }
}