.quiz {
    display: flex;
    width: 100%;
    margin-top: 30px;
    padding: 20px;
}

.questions {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.board {
    width: 100%;
}

.info {
    margin-top: 20px;
    right: 50px;
    height: calc(93% - 20px);
    width: 20%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info button {
    bottom: 0;
    float: right;
    margin-bottom: 0;
}
.question{
    padding: 10px;
    margin-top: 25px;
    border-radius: 4px;
    box-shadow:  5px 5px 10px #333333;
}
.questionInfo{
    display: flex;
    width: 100%;
    padding: 0;
}
.questionField{
    margin-left: 5px;
}
.answer{
display: flex;
    justify-content: space-between;
    border-bottom: 1px solid silver;
}
