.Answer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}


.Textarea {
    margin-top: 5px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
    min-height: 100px;
    border: 1px solid silver;
    resize: none;
}