.Question {
    padding: 10px;
    margin-top: 25px;
    border-radius: 4px;
    box-shadow: 5px 5px 10px #333333;
}

.QuestionInfo {
    display: flex;
    width: 100%;
}

.QuestionField {
    margin-left: 5px;
}