.SurveyPage{
    display: flex;
}

.Header{
    display: flex;
    justify-content: space-between;
}

.Survey{
    margin-top: 30px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 600px;
}

.Info{
    display: flex;
    top: 70px;
    position: fixed;
    border: 1px solid rgba(255, 255, 255, 0.67);
    border-radius: 10px;
    background: #3F51B5;
    box-shadow: 3px 3px 10px #333333;
    right: auto;
    left: auto;
}

.Questions{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.Button{
    float: right;
    bottom: 0;
}