/*-----------------------------------------------------------Group----------------------------------------------------*/
.Group {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.GroupName {
    width: 100%;
    height: 30px;
}

.GroupMembers {
    width: 100%;
}

.FormControl {
    padding: 3px;
}

/*-----------------------------------------------------------Person----------------------------------------------------*/

/*-----------------------------------------------------------Invite----------------------------------------------------*/

.Invite{
    padding: 10px;
}
.Checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.StartDate {
    display: none;
}

.EndDate {
    display: none;
}

.RadioButton {
    display: flex;
    justify-content: space-around;
}

.Time {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Timer {
    display: none;
}

.InvitationLinkTextField {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Settings {
    display: flex;
    padding: 10px 0 10px 0;
    flex-direction: column;
}

.SwitchLine {
    display: flex;
    align-items: center;
    justify-content: center;
}

.SwitchTextLeft {
    width: 150px;
    text-align: right;
}

.Switch {
    margin-left: auto;
    margin-right: auto;
}

.SwitchTextRight {
    text-align: left;
    width: 150px;
}
@media screen and (max-width: 600px){
    .Invite{
        padding: 4px;
    }
}