/*-----------------------------------------------------------Group----------------------------------------------------*/
.Group{
    display: flex;
    flex-direction: column;
}

.GroupName {
    width: 500px;
    margin: auto;
}

.GroupMembers{
    padding: 10px;
    border: lightgray 1px solid;
    border-radius: 2px;
}

.FormControl{
    margin: 3px;
    padding: 3px;
}
/*-----------------------------------------------------------Person----------------------------------------------------*/

/*------------------------------------------------------Invite Dialog-------------------------------------------------*/

.RadioButton {
    display: flex;
    justify-content: space-around;
}

.Time {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Time_limit {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.StartDate {
    display: none;
}

.EndDate {
    display: none;
}

.InvitationLinkTextField{
    display: flex;
    flex-direction: column;
    justify-content: center;
}