.question {
    margin-top: 20px;
    box-shadow: 5px 5px 10px #333333;
}

.questionOrder{
    padding: 10px 10px 10px 10px;
}

.questionField {
    width: 80%;
    align-items: center;
    margin: auto;
}

.answerType{
    flex-direction: row;
    margin: auto;
}