

.ReportCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.version {
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
}

.CardHeaderLeftColumn {
}

