.Root {
    margin-top: 15px;
}

.CardContent {
    flex: 10;
}

.quizName {
    text-align: center;
}



.Tabs {
    margin-top: 10px;
}


.ArrowButton {
    position: fixed;
    left: 10px;
}

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 600px){
    .ArrowButton{
        display: none;
    }
}