.EditSurvey {
    overflow: hidden;

}

.ArrowButton {
    position: fixed;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

.SurveyNameDescription {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    overflow: hidden;
}

.AddButton {
    width: 50px;
    margin: 0 auto;
}
@media screen and (max-width: 600px) {
    .EditQuiz {
        padding: 4px;
    }

    .ArrowButton {
        display: none;
    }

    .BoardRows {
        display: none;
    }
}