.Body{
    position: relative;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.ArrowButton{
    left: 10px;
    position: fixed;
    height: 50px;
    width: 50px;
}

.ArrowBackIosIcon{
    height: 50px;
    width: 50px;
}

.Edit{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.SurveyName{
    width: 100%;
    padding: 10px;
    box-shadow: 5px 5px 10px #333333;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.Settings{
    width: 100%;
    box-shadow: 5px 5px 10px #333333;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
}

.Question{
    width: 100%;
}

.AddButton{
    padding: 0px;
}