.Root {
    padding: 10px;
    margin-top: 10px;
    display: flex;
}
.AddButton{
    margin: 0 auto;
}

.CardContent {
    overflow: hidden;
    flex-grow: 1;
}
.DeleteAndInvite{
    display: flex;
}
.CardActions {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

