.body{
    width: 100%;
    height: 100%;
    background: #333333;
    background-image: url("https://remontdoma24.ru/image/cache/data/oboi/bumazhnye-flizelinovye-oboi/vinilovye-oboi/170123-400x400.jpg");

}
.home{
    height: 100vh;
}
