.buttongroup Button{
color: #f3f3f3;
    width: 210px;
    margin-top: 5px;
   margin-bottom: 20px;
}
.buttongroup {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}
.buttongroup Button.main{
    display: flex;
    justify-content: flex-start;
}
.buttongroup Button:focus {
     transition: 0.8s;
     background: #3F51B5;
     box-shadow: 0 0 10px #2f57b5;
 }
.buttongroup a{
    text-decoration: none;
}
.buttongroup Button.secondary{
    display: flex;
    padding-left: 60px;
    justify-content: start;
}
.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 64px;
    background-color: white;
}
.logo{
    height: 64px;
    width: 64px;
}
.name{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}