.Survey{
    padding: 10px;
    margin-bottom: 10px;
}

.SurveyInfo {
    display: flex;
}

.SurveyOrder {
    margin-top: 2px;
}

.FormControl {
    display: flex;
    justify-content: center;
}

.SurveyField {
    margin-left: 5px;
    flex-grow: 1;
}

.Buttons {
    display: flex;
    justify-content: space-between;
}

.AddButton {
}

.SaveButton {
}