.EmailSideBar {
    top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    transition: right 1s ease-out 0.5s;
}

.QuestionSideBar {
    top: 70px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    position: fixed;
    transition: left 1s ease-out 0.5s;
}

.Icon {
    display: none;
    margin: 5px 15px 5px 5px;
}

.IconQuestion {
    display: none;
    margin: 5px 5px 5px 15px;
}

@media (max-width: 912px) {
    .EmailSideBar {
        position: fixed;
        width: 150px;
        right: -120px;
    }

    .QuestionSideBar {
        position: fixed;
        left: -140px;
    }

    .Icon {
        display: block;
    }

    .EmailSideBar.active {
        right: 5px;
    }

    .IconQuestion {
        display: block;
    }

    .QuestionSideBar.Active {
        left: 5px;
    }
}