/*@media (min-height:500px) {*/
/*    .Box{}*/
/*}*/

.Container{
    height: 91vh;
    width: 100%;
   display: flex;
    flex-direction: column;
}


.Box{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
.Quizz{

}
/*existingQuizPreview */
.root {
    margin: 10px;
    box-shadow: 3px 3px 10px #333333 ;
    display: flex;
    justify-content: space-between;

}

.bullet {
    display: inline-block;
    margin: 0 2px;
    transform: scale(0.8);
}
.title{
    fontSize: 14;
}
.pos{
    marginBottom: 12;
}
.CardContent{
    flex: 10;
}
.CardActions{
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
}
.DeleteButton{
    top: -7px;
    right: -20px;
    flex: 0.5;
}
.radioButton{
    display: flex;
    justify-content: space-around;
}
/*.root {*/
/*    padding: 2px 4px;*/
/*    display: flex;*/
/*    alignItems: center;*/
/*    right: 0;*/
/*}*/
/*.input {*/
/*    marginLeft: 20px;*/
/*    flex: 1;*/
/*}*/
/*.iconButton {*/
/*    padding: 10px;*/
/*}*/

/*MyQuizRoute*/
/*.fade{*/
/*    transition: 0.5s;*/
/*}*/
/*.fadeEnter {*/
/*    opacity: 0.01;*/
/*    transition: 0.5s;*/
/*    transform: translateX(100%)*/
/*}*/
/*.fadeEnter.fadeEnterActive {*/
/*    opacity: 1;*/
/*    transition: 0.5s;*/
/*    transform: translateX(0%)*/

/*}*/
/*.fadeExit {*/
/*    transition: 0.5s;*/
/*    transform: translateX(-100%)*/
/*}*/
/*.fadeExit.fadeExitActive {*/
/*    opacity: 1;*/
/*    transition: 1s ;*/
/*}*/
/*div.transitiongroup {*/
/*    position: relative;*/
/*}*/
/*section.routesection {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/
