/*@media (min-height:500px) {*/
/*    .Box{}*/
/*}*/

.Container{
    height: 91vh;

}


.Box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.Quizz{

}
/*existingQuizPreview */
.root {
    min-width: 450px;
    margin: 10px;
    box-shadow: 3px 3px 10px #333333 ;
    padding: 5px;
    display: flex;
}
.bullet {
    display: inline-block;
    margin: 0 2px;
    transform: scale(0.8);
}
.title{
    fontSize: 14;
}
.pos{
    marginBottom: 12;
}
.CardContent{
    flex: 10;
}
.CardActions{

    margin: 5px;
    flex: 1;
}
/*editQuizz css*/
.time{
    height: 70px;
}
